extends ./layout.jade

block content
  h1 Welcome
  h3 Stock Portfolio
  table.table.table-hover
    thead
      th Symbol
      th Company
      th Price
      th Qty
    tbody
      th #{sym}
      th #{comp}
      th #{price}
      th #{qty}
