extends ./layout.jade

block content
  h1 Welcome
  h3 Stock Portfolio
  table.table.table-hover
    thead
      th Price
      th Quantity
      th Symbol
      th Name
    tbody
      th #{price}
      th #{quantity}
      th #{symbol}
      th #{name}
